<!--  Replace menu links here -->

<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}">Home</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/authors-list.html">Hosts</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/contact.html">Contact</a>
</li>
<li class="nav-item">
<a class="nav-link" href="{{site.baseurl}}/support-the-show.html">Donate <i class="fa fa-coffee text-danger"></i></a>
</li>
<li class="nav-item">
<a window="_blank" class="nav-link" href="https://www.youtube.com/channel/UCASBK361NNw1_TsEnhoabsg">YouTube</a>
</li>